* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.barranav {
  font: "Poppins", sans-serif;
  color: white;
  background-color: black;
}

.textohednav {
  font: "Poppins", sans-serif;
}

.seccion1 {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/index/Index1.jpg);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15rem;
  font-weight: 700;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.seccion2 {
  font-family: "Roboto", sans-serif;
}