* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.barranav {
  font: "Poppins", sans-serif;
  color: white;
  background-color: black;
}

.seccion1 {
  background-image: url(../img/index/IMG_0099gris.jpg);
}