//fuentes poppins
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;

*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    
}

a{
    text-decoration: none;
}


    h6{

        font-family: $Roboto;
        font-weight: 300;
    
    }
   



.boton{
    background-color: #161616;
    padding: 3% 5%;
    font-family: $Poppins;
    color: rgb(255, 255, 255);
    border-radius: 20px;

    &:hover{
        background-color: #000000;
        color: rgb(255, 255, 255);
    }
}

.boton2{
    background-color: #161616;
    padding: 1% 4%;
    font-family: $Poppins;
    color: rgb(255, 255, 255);
    border-radius: 20px;

    &:hover{
        background-color: #000000;
        color: rgb(255, 255, 255);
    }
}


.barranav{
    font: $Poppins;
    color: rgb(255, 255, 255); 
    background-color: #161616;
}

.textohednav{
    font: $Poppins;
}

.seccion1{
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    
}

.center{ //para centrar imagenes
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.seccion2{
    font-family: $Roboto;
}

.footer{
    background-color: #161616;
    font-family: $Poppins;

    a {
        text-decoration: none;
        color: white;
        font-weight: 300;
       }

}



.footer1{
    background-color: #000000;
    font-family: $Poppins;
    color: white;
    a {
        text-decoration: none;
        color: white;
       }

}



/*-------------------------------------------------------------- 

# Estilos Scroll 

--------------------------------------------------------------*/ 

body::-webkit-scrollbar { 
width: 10px; 
    background: #161616; 
  } 

  body::-webkit-scrollbar-thumb { 
    //background: white, 0.2;
   border-radius: 10px; 
   border-right: 10px solid #ffffff; 
  } 
  