//fuentes poppins
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.barranav{
    font: $Poppins;
    color: rgb(255, 255, 255); 
    background-color: black;
}