//fuentes poppins
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;

*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.barranav{
    font: $Poppins;
    color: rgb(255, 255, 255); 
    background-color: black;
}

.textohednav{
    font: $Poppins;
}

.seccion1{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/index/Index1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: $Poppins;
    font-size: 15rem;
    font-weight: 700;
}

.center{ //para centrar imagenes
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.seccion2{
    font-family: $Roboto;
}


/*-------------------------------------------------------------- 

# Estilos Scroll 

--------------------------------------------------------------*/ 

//body::-webkit-scrollbar { 
   // width: 10px; 
   // background: purple; 
 // } 

 // body::-webkit-scrollbar-thumb { 
    /*background: white, 0.2;*/ 
  //  border-radius: 10px; 
  //  border-right: 10px solid $color3; 
  //} 
  